/* Hero.css */
.hero-wrapper {
  color: #fff;
  z-index: 1;
  padding-bottom: 2rem;
  height: auto;
  background-color: #000;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-weight: bold;
  flex-wrap: wrap; /* התאמה למובייל */
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3vw;
  text-align: center; /* התאמה למובייל */
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
  color: #fff;
  text-align: center;
}

.orange-circle {
  height: 4rem;
  width: 4rem;
  background: linear-gradient(135deg, #FFA500, #FF4500); /* צבע כתום לגרדיאנט */
  border-radius: 50%;
  position: absolute;
  right: 50%;
  top: -10%;
  transform: translateX(50%);
  z-index: -1;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Stats section */
.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap; /* התאמה למובייל */
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat > :nth-child(1) {
  font-size: 2rem;
  color: #fff;
}

.stat > :nth-child(1) > :last-child {
  color: #FFA500;
}

.stat > :nth-child(2) {
  font-size: 1.2rem;
  color: #f0f0f0;
  text-align: center; /* התאמה לרספונסיביות */
}

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.9);
}

/* Mobile screens */
@media (max-width: 640px) {
  .hero-container {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .hero-title > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .image-container {
    width: 95%;
    height: 25rem;
    border-radius: 10rem 10rem 0 0;
  }

  .stats {
    justify-content: center;
    gap: 1.5rem;
    font-weight: wrap;
  }

  .stat > :nth-child(1) {
    font-size: 1.5rem;
  }

  .stat > :nth-child(2) {
    font-size: 0.8rem;
  }
}
